name: pre-commit

on: [push]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 1
    - uses: actions/setup-python@v6.2.0
      with:
        python-version: 3.11
    - uses: pre-commit/action@v3.0.1
